<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{detail.title}}</mat-card-title>
        <mat-card-subtitle>{{detail.status}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-top: 10px;">
        <p>{{detail.description}}</p>
    </mat-card-content>
    <mat-card-actions style="position: absolute; bottom: 10px;">
        <button mat-button>Edit</button>
        <button mat-button (click)="onDeleteTodo()" >Delete</button>
    </mat-card-actions>
</mat-card>